build/
*.egg-info/
*.pyc
dist/
*.egg
tests/fixtures/test_client.cfg
tests/integration/vendor/
Gemfile.lock
tests/server.cfg
distribute-*.tar.gz
M2Crypto-*/
.tox
.coverage
junit-*.xml
htmlcov/
mcollective.log*
server.cfg
client.cfg
