[submodule "cookbooks"]
	path = cookbooks
	url = https://github.com/travis-ci/travis-cookbooks.git
[submodule "extra_cookbooks/activemq"]
	path = extra_cookbooks/activemq
	url = https://github.com/opscode-cookbooks/activemq.git
[submodule "tests/integration/vendor_2.2.x"]
	path = tests/integration/vendor_2.2.x
	url = https://github.com/puppetlabs/marionette-collective.git
[submodule "tests/integration/vendor_2.3.x"]
	path = tests/integration/vendor_2.3.x
	url = https://github.com/puppetlabs/marionette-collective.git
