topicprefix = /topic/
collectives = mcollective
main_collective = mcollective
libdir = tests/integration/vendor/plugins
logger_type = console
loglevel = debug
daemonize = 0
identity = mco1

# Plugins
securityprovider = ssl
plugin.ssl_server_public = tests/fixtures/server-public.pem
plugin.ssl_client_private = tests/fixtures/client-private.pem
plugin.ssl_client_public = tests/fixtures/client-public.pem
plugin.ssl_serializer = yaml

direct_addressing = yes
direct_addressing_threshold = 5

connector = stomp
plugin.stomp.host = localhost
plugin.stomp.password = guest
plugin.stomp.port = 61613
plugin.stomp.user = guest

factsource = yaml
plugin.yaml = tests/fixtures/facts.yaml
